<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>HTH Portal</title>
  </head>
  <body class="">
  {% load custom_tags %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      {% if user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a class="navbar-brand" href="{% url 'admin_home' %}">HTH Portal</a>
        {% else %}
        <a class="navbar-brand" href="{% url 'home' %}">HTH Portal</a>
        {% endif %}
      {% else %}
      <a class="navbar-brand" href="{% url 'index' %}">HTH Portal</a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        {% if user.is_authenticated %}
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_course' %}">Add Course</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_appointments' %}">Head to Head</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#logoutModal">
              Logout
            </button>
          </li>
        {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container mt-5">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% block content %}
      {% endblock %}
    </div>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logoutModalLabel">Logout</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to log out?
          </div>
          <div class="modal-footer">
            <form method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Logout</button>
            </form>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    {% block extra_js %}
    {% endblock %}
</body>

<style>
    body {
        background-color: lightblue;
    }
</style>

</html>