{% extends 'university/base.html' %}
{% load custom_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-header bg-secondary text-white rounded">
                    <h3 class="text-center">{{ question.title }}</h3>
                </div>
                <div class="card-body">
                    <h5 class="font-weight-bold mb-3">{{ question.creator }}</h5>
                    <p>{{ question.body }}</p>
                    <hr>
                    {% for answer in answers %}
                        <h5 class="font-weight-bold mb-3">{{ answer.creator }}</h5>
                        <p>{{ answer.body }}</p>
                        <hr>
                    {% endfor %}
                    <h5 class="font-weight-bold mb-3">Add Answer</h5>
                    <form method="post" action="{% url 'answer_question' question.id %}">
                        {% csrf_token %}
                        <textarea name="body" placeholder="Write your answer here" class="form-control" required></textarea>
                        <button type="submit" class="btn btn-primary mt-3">Add Answer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}