<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>HTH</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">HTH</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_course' %}">Add Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_reports' %}">Reports</a>
          </li>
          {% else %}
          {% if user.groups.filter(name='teachers').exists %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'teacher_home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'upload_file' %}">Upload File</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create_appointment' %}">Create Meeting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'questions' %}">Forum</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'student home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'upload_student_file' %}">Upload File</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_appointments' %}">View Meeting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'ask_question' %}">Ask Question</a>
          </li>
          {% endif %}
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' request.user.groups.filter(name='teachers').exists %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_login' %}">Admin Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'teacher_login' %}">Teacher Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'student_login' %}">Student Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container mt-5">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% block content %}
      {% endblock %}
    </div>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logoutModalLabel">Logout</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to log out?
          </div>
          <div class="modal-footer">
            <form method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Logout</button>
            </form>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.0/dist/umd/popper.min.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    {% block extra_js %}
    {% endblock %}
</body>
</html>